.site-title {
    margin: 0;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: 100;
    background-color: black;
    color: white;
    border-style: double;
    border-width: 10px;
    border-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red) 1;
}

body {
    margin: 10px;
    padding: 0;
    font-family: 'Lucida Console', Courier, monospace;
    background-color: black
}

h1 {
    text-align: center;
}

.navbar {
    background-color: gray;
    font-size: 18px;
    line-height: 22px;
    position: relative;
    align-items: bottom;
}

.Colorlist {
    font-size: 18px;
    right: 305px;
    align-items: center;
    /* position: relative; */
    /* added float right */
    float: right;
}

.colorName {
    color: white;
    text-align: center;
}

.navlist {
    margin: 0 0 0 20px;
    padding: 0;
}

.navitem {
    display: inline-block;
}

#radiusControl {
    width: 100%;
    padding: 5px;
    float: right;
    color: red;
    /* Dont allow user to highlight the + and - */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.radCont {
    width: 20px;
    height: 20px;
    background-color: #3f3f3f;
    display: inline-block;
    text-align: center;
    padding: 1px;
}

#btn {
    float: right;
    margin-right: 20px;
    margin-bottom: 3px;
    padding: 0;
    line-height: 38px;
}

#clr {
    float: right;
    margin-right: 20px;
    margin-bottom: 4px;
    padding: 0;
    line-height: 38px;
}

.color {
    width: 20px;
    height: 20px;
    flex: 0 1 28%;
    display: flex;
    margin: 2px;
    margin-left: 30px;
    padding: 20px;
    border: 3px solid #dadada;
    border-radius: 33px;
}

.color.active {
    border: 3px solid white;
}

.Colorlist {
    display: inline-block;
    margin-left: 10px;
}

.color:hover {
    cursor: pointer;
}

#color {
    background: white;
}

#can {
    border: 2px solid black;
    bottom: 270px;
    padding-top: 5px;
    left: 160px;
    margin-top: 3px;
    color: #fff;
    overflow: hidden;
    /* position: relative; */
    background-color: white;
}

#canvas-img {
    border: 2px solid white;
}

#can:hover {
    cursor: pointer;
}

select {
    font-size: 12px;
    background-color: #fff;
}

a {
    position: fixed;
    bottom: 10px;
}