.site-title {
    margin: 0;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: 100;
    background-color: black;
    color: #fff;
    border-style: double;
    border-width: 10px;

    border-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red) 1;
}

body {
    margin: 10px;
    padding: 0;
    font-family: 'Lucida Console', Courier, monospace;
    background-color: white;
}

h1 {
    text-align: center;
}

h3 {
color: black;
}
.navbar {
    background-color: gray;
    font-size: 18px;
    line-height: 22px;
}

.container {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-style: double;
  border-width: 2px;

  border-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red) 1;
}

.color-picker {
  background-color: #fafafa;
  padding: 5px;
  margin: 10px;
  border: 1px dashed black;
}

.color-input {
  background-color: #fafafa;
}

.add-color-button {
  width: 150px;
  height:75px;
  background-color: #88ff88;
  margin: 15px;
  border-radius: 50px;

  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
}

.add-color-button:hover{
  background-color: #44ff33;

  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.25);
}

.remove-color-button {
  width: 150px;
  height:75px;
  background-color: #ff7a7a;
  margin: 15px;
  border-radius: 50px;

  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
}

.remove-color-button:hover{
  background-color: #ff5555;

  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.25);
}

.modal-accept-button {
  width: 150px;
  height:75px;
  margin:15px;
  background-color: #319df6;
  color: #fff;
  border-radius: 50px;

  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
}

.modal-accept-button:hover {
  background-color: #087dde;

  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.25);
}
