.site-title {
    margin: 0;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: 100;
    background-color: #319df6;
    color: #fff;
}

body {
    margin: 10px;
    padding: 0;
    font-family: 'Roboto Mono', sans-serif;
}

.navbar {
    background-color: gray;
    font-size: 18px;
    line-height: 22px;
}

.container {
  margin: 10px;
  padding: 10px;
  display: flex;
  border: 1px solid black;
}

.color-picker {
  padding: 5px;
  margin-right: 100px;
  border: 1px dashed black;
}

.modal-accept-button {
  background-color: #319df6;
  color: #fff;
}

.modal-accept-button:hover {
  background-color: #087dde;
}
