.site-title {
    margin: 0;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: 100;
    background-color: #319df6;
    color: #fff;
}

body {
    margin: 10px;
    padding: 0;
    font-family: 'Roboto Mono', sans-serif;
}

.navbar {
    background-color: gray;
    font-size: 18px;
    line-height: 22px;
    float: right;
    align-items: bottom;
}

.Colorlist {
    background-color: gray;
    font-size: 18px;
    float: right;
}

.navlist {
    margin: 0 0 0 20px;
    padding: 0;
}

.navitem {
    display: inline-block;
}

#radiusControl {
    width: 100%;
    padding: 5px;
    float: right;
    color: red;
    /* Dont allow user to highlight the + and - */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.radCont {
    width: 20px;
    height: 20px;
    background-color: #3f3f3f;
    display: inline-block;
    text-align: center;
    padding: 1px;
}

#btn {
    float: right;
    margin-right: 20px;
    padding: 0;
    line-height: 38px;
}

#clr {
    float: right;
    margin-right: 20px;
    padding: 0;
    line-height: 38px;
}

.color {
    width: 20px;
    height: 20px;
    flex: 0 1 28%;
    display: flex;
    margin: 2px;
    padding: 20px;
    border: 1px solid #dadada;
    border-radius: 33px;
    background-color: #fff;
}

.color.active {
    border: 2px solid white;
}

.Colorlist {
    display: inline-block;
}

.color:hover {
    cursor: pointer;
}

#color {
    background: white;
}

#can {
    border: 2px solid black;
    position: absolute;
    color: #fff;
    overflow: hidden;
    background-color: transparent;
}

#canvas-img {
    border: 2px solid black;
}

#can:hover {
    cursor: pointer;
}

select {
    font-size: 12px;
    background-color: #fff;
}